<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Tech Innovators</title>
        <link rel="stylesheet" href="landing_style.css">
    </head>
    
    <body>
        <!-- Header Section -->
        <header>
            <!-- Navigation Bar -->
            <div class="navbar">
                <div class="logo">
                    <h1>Tech Innovators</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </body>
</html>

